name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Cache dependencies
        run: deno cache --reload src/mcp-server.ts
      - name: Publish package
        run: npx jsr publish
